# Declare files that will always have CRLF line endings on checkout.
gpl-3.0.txt text eol=lf
LICENSE_windows.txt text eol=crlf
libraries_used.txt text eol=lf
libraries_used_windows.txt text eol=crlf
gradlew.bat text eol=crlf
gradlew text eol=lf

# Tell GitHub’s linguist which files to ignore
gradle/InnoSetup6/* linguist-vendored
gradlew linguist-vendored
gradlew.bat linguist-vendored