<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- created with Gradle, http://gradle.org, and the MacAppBundle plugin, http://code.google.com/p/gradle-macappbundle -->
<plist version='1.0'>
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleExecutable</key>
    <string>JavaAppLauncher</string>
    <key>CFBundleIconFile</key>
    <string>blob_emoji.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.airsquared.blobsaver.Main</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>blobsaver</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>unspecified</string>
    <key>CFBundleShortVersionString</key>
    <string>unspecified</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>NSHighResolutionCapable</key>
    <string>true</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>JVMMainClassName</key>
    <string>com.airsquared.blobsaver.Main</string>
    <key>JVMOptions</key>
    <array />
    <key>JVMArguments</key>
    <array />
    <key>LSUIElement</key>
    <string>1</string>
  </dict>
</plist>